footer {
  position: fixed;
  background-color: cadetblue;
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 80px;
}
.footer-icon {
  width: 32px;
  height: 32px;
}
.navbar-ul {
  list-style-type: none;
  display: flex;
  color: antiquewhite;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 17%;
}
