body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 0;
  color: whitesmoke;
}
.header {
  background-color: cadetblue;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
}
.container-padding {
  padding: 0px 38px;
}
.cards-list {
  list-style: none;
  padding: 20px 0 0 0;
}
.card {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  height: 40vh;
}
.card h2 {
  margin-top: 0;
}
.card-answer + p {
  display: none;
  margin-bottom: 2rem;
}
.content {
  padding: 20px 18px;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: left;
}
.tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}
.tags li {
  margin: 0;
}
.hashtag-frontend {
  text-decoration: none;
  color: cadetblue;
  background-color: antiquewhite;
  border: 1px solid gainsboro;
  border-radius: 20%;
  padding: 3px 6px;
}
.bookmark-button {
  position: absolute;
  top: -12px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  background-color: white;
}
.bookmark-button--filled {
  position: absolute;
  top: -12px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  background-color: white;
  width: 24px;
  height: 24px;
  display: none;
}
.bookmark {
  width: 24px;
  height: 24px;
}
.bookmark--filled {
  width: 24px;
  height: 24px;
}
.footer-icon {
  width: 32px;
  height: 32px;
}

.card-answer {
  color: cadetblue;
  background-color: blanchedalmond;
  padding: 8px 12px;
  border: 1px solid grey;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-answerToggle {
  display: none;
}
footer {
  position: fixed;
  background-color: cadetblue;
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 80px;
}
.navbar-ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: antiquewhite;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 20%;
}
#hidden {
  display: none;
}
.answer {
  display: none;
}
